include helpers/variables
include helpers/mixins

include ../blocks/page/page
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/breadcrumb/breadcrumb
include ../blocks/menu-user/menu-user

- $.title = `${pageList.desktop.title} - ${$.package.description}`;

+page
  +header.__header
  +e.__main
    +b.SECTION.section
      +e.HEADER.__header
        .container-fluid
          .row.mb-40.align-items-baseline
            .col-8
              .row.mx-25-inv.align-items-baseline
                .col-auto.px-25.mw-100
                  +b.H1.title.__title #[strong Trace]Chain
                .col-auto.px-25.mw-100
                  +breadcrumb(['Home', 'Blocks', 'Transactions'], 0).__breadcrumb
            .col-4.d-flex.flex-column.align-items-end
              +menu-user.__menu-user.mw-100
          .row
            .col-7.align-self-center
              +e.H2.__location Current Stats
            .col-5
              +b.FORM.form-search.__search(action='')
                +e.INPUT.__input(type='text' placeholder='Search by Address / Txhash / Block / Token / Ens' autocomplete='off')
                +e.BUTTON.__btn(tabindex='-1')
                  +isvg#search
      .container-fluid
        .row
          .col-6
            +b.SECTION.stats.h-100
              +e.HEADER.__header
                .row.flex-nowrap.mb-10
                  .col.align-self-center
                    +e.H3.__title Block count
                  .col-auto
                    +b.SELECT.select-outline
                      option All time
                      option Last month
                      option Last week
                +e.__count 10,759,735
              +e.__body
                .row.flex-nowrap.mb-30
                  .col
                    +e.__body-title Blocks
                  .col-auto.align-self-center
                    +b.SELECT.select-light
                      option Last 10 blocks
                      option Last 20 blocks
                      option Last 30 blocks
                +b.TABLE.table-data--stats.mb-20
                  thead
                    tr
                      th ID
                      th Hash
                      th Age
                      th Count
                  tbody
                    tr
                      td 707
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 706
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 705
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 704
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 703
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 702
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 701
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 700
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 699
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 698
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 707
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 706
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 705
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 704
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 703
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 702
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 701
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 700
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                    tr
                      td 699
                      td: span.color-link 8517f658ef627414305f79d7578a7e6299b32823af7d75cac8ac38224fac6755
                      td 16&nbsp;hours&nbsp;ago
                      td 1
                    tr
                      td 698
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                      td 5
                +b.A.btn--primary.w-100(href=js)
                  +e.__lbl Show more
          .col-6
            +b.SECTION.stats.h-100
              +e.HEADER.__header
                .row.flex-nowrap.mb-10
                  .col.align-self-center
                    +e.H3.__title Transaction count
                  .col-auto
                    +b.SELECT.select-outline
                      option All time
                      option Last month
                      option Last week
                +e.__count 353,244,534
              +e.__body
                .row.flex-nowrap.mb-30
                  .col
                    +e.__body-title Transactions
                  .col-auto.align-self-center
                    +b.SELECT.select-light
                      option Last 10 transactions
                      option Last 20 transactions
                      option Last 30 transactions
                +b.TABLE.table-data--stats.mb-20
                  thead
                    tr
                      th ID
                      th Hash
                      th Age
                  tbody
                    tr
                      td 707
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                        +e.__warning
                          +isvg#info.__warning-ico
                      td 16&nbsp;hours&nbsp;ago
                    tr
                      td 706
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                        +e.__warning
                          +isvg#info.__warning-ico
                      td 18&nbsp;hours&nbsp;ago
                    tr
                      td 705
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 16&nbsp;hours&nbsp;ago
                    tr
                      td 704
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                    tr
                      td 703
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 16&nbsp;hours&nbsp;ago
                    tr
                      td 702
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                    tr
                      td 701
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 16&nbsp;hours&nbsp;ago
                    tr
                      td 700
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 18&nbsp;hours&nbsp;ago
                    tr
                      td 699
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 1&nbsp;day&nbsp;ago
                    tr
                      td 698
                      td: span.color-link 6b755668eeb75...ecb8cb16af
                      td 2&nbsp;days&nbsp;ago
                +b.A.btn--primary.w-100(href=js)
                  +e.__lbl Show more
  +footer.__footer