.table-data {
  font-size: 12px;
  line-height: (14/12);
  word-wrap: break-word;
  width: 100%;
  th {
    font-weight: 700;
    text-transform: uppercase;
    padding: 3px 10px;
  }
  td {
    padding: 12px 10px;
  }
  th, td {
    vertical-align: baseline;
  }
  tbody {
    tr {
      &:hover {
        background: darken(#235D91, 10%);
      }
    }
  }

  &__warning {
    color: $color-warning;
    display: inline-block;
    vertical-align: -2px;

    &-ico {
      display: block;
      width: 12px;
      height: 12px;
    }
  }

  &--stats {
    th, td {
      &:nth-child(2) {
        max-width: 250px;
      }
    }
  }

  &--blocks {
    th, td {
      &:nth-child(2) {
        max-width: 600px;
      }
    }
  }

  &--transactions {
    th, td {
      &:nth-child(1), &:nth-child(4) {
        max-width: 300px;
      }
      &:nth-child(3) {
        max-width: 150px;
      }
    }
  }
}