.svg-symbols {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

[class^='isvg-'], [class*=' isvg-'] {
  fill: currentColor;
  stroke: inherit;

  use {
    pointer-events: none;
  }
}

.isvg-angle-1-down {
  width: (0.625em/0.375em*1em);
  height: 1em;
}
#isvg-angle-1-down {
  
}

.isvg-angle-d {
  width: (0.688em/0.438em*1em);
  height: 1em;
}
#isvg-angle-d {
  
}

.isvg-angle-left {
  width: (0.625em/0.938em*1em);
  height: 1em;
}
#isvg-angle-left {
  
}

.isvg-arrow-l {
  width: (0.938em/0.813em*1em);
  height: 1em;
}
#isvg-arrow-l {
  
}

.isvg-block {
  width: (2em/2em*1em);
  height: 1em;
}
#isvg-block {
  
}

.isvg-buy {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#isvg-buy {
  
}

.isvg-copy {
  width: (0.875em/0.938em*1em);
  height: 1em;
}
#isvg-copy {
  
}

.isvg-dialog {
  width: (2.125em/2.063em*1em);
  height: 1em;
}
#isvg-dialog {
  
}

.isvg-flag {
  width: (0.75em/0.75em*1em);
  height: 1em;
}
#isvg-flag {
  
}

.isvg-info {
  width: (0.688em/0.75em*1em);
  height: 1em;
}
#isvg-info {
  
}

.isvg-logo {
  width: (10.125em/1.5em*1em);
  height: 1em;
}
#isvg-logo {
  
}

.isvg-metaapps {
  width: (1.188em/0.875em*1em);
  height: 1em;
}
#isvg-metaapps {
  
}

.isvg-metawallet {
  width: (1.25em/1.063em*1em);
  height: 1em;
}
#isvg-metawallet {
  
}

.isvg-received {
  width: (0.75em/0.75em*1em);
  height: 1em;
}
#isvg-received {
  
}

.isvg-refresh {
  width: (5.5em/4.25em*1em);
  height: 1em;
}
#isvg-refresh {
  
}

.isvg-search {
  width: (0.938em/0.938em*1em);
  height: 1em;
}
#isvg-search {
  
}

.isvg-settings {
  width: (1.063em/1.063em*1em);
  height: 1em;
}
#isvg-settings {
  
}

.isvg-success {
  width: (1.5em/1.313em*1em);
  height: 1em;
}
#isvg-success {
  
}

.isvg-transaction {
  width: (1.938em/2em*1em);
  height: 1em;
}
#isvg-transaction {
  
}

.isvg-user {
  width: (1em/0.938em*1em);
  height: 1em;
}
#isvg-user {
  
}

