.select-lang {
  vertical-align: top;

  &__toggle {
    font-size: 14px;
    line-height: 18px;
    color: $color-link;
    display: flex;
    width: 100%;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    transition: color $btn-transition-base;
    position: relative;
    &:hover {
      color: white;
    }
    .filter-option {
      flex-grow: 1;
      min-width: 0.2px;

      &-inner {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .isvg-angle-d {
      flex-shrink: 0;
      font-size: 7px;
      margin: auto 0 auto 8px;
    }
  }

  &__opt-icon {
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin-right: 10px;
  }

  &__menu {
    .dropdown-item {
      font-size: 14px;
      line-height: 18px;
      color: $color-dark;
      text-decoration: none;
      padding: 5px 15px;
      @include hover-focus-active {
        color: $color-dark;
        background: #ddd;
      }
      &.active {
        color: white;
        background: $color-primary;
      }
    }
    .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block !important;
    }
  }
}

select.select-lang {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}