.section {
  &__header {
    margin-bottom: 45px;
  }

  &__breadcrumb {
    //margin-top: 35px;
  }

  &__menu-user {
    //margin-top: 44px;
  }

  &__location {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    margin: 0;
  }
}