.action-support {
  $b: &;
  font-size: 18px;
  line-height: (21/18);
  color: white;
  text-decoration: none;
  text-align: left;
  display: inline-flex;
  vertical-align: top;
  align-items: flex-start;
  &:hover {
    #{$b}__icon {
      transition: transform 10s ease-in-out 0.1s;
      transform: rotateY(360deg);
    }
  }

  &__icon {
    flex: none;
    font-size: 33px;
    margin-right: 12px;
  }

  &__text {
    white-space: nowrap;
    small {
      font-size: 14px;
      line-height: (16/14);
      color: $color-link;
      display: block;
    }
  }
}