include ../menu/menu

mixin header
  +b.HEADER.header&attributes(attributes)
    +e.__inner
      +e.BUTTON.__btn--back(onclick='history.back()'): +isvg#angle-left
      +e.BUTTON.__btn--forward(disabled='' onclick='history.forward()'): +isvg#angle-left
      +e.BUTTON.__btn--reload(onclick='history.go(0)'): +isvg#refresh
      +e.__loc
        +e.INPUT.__loc-field(type='text' value='/MetaGate/Create')
      +menu.__menu