-
  var js = 'javascript:';

  var pageList = {
    desktop: {title: 'Desktop', url: 'page-desktop.html'},
    blocks: {title: 'Blocks', url: 'page-blocks.html'},
    blockInfo: {title: 'Block info', url: 'page-block-info.html'},
    transactions: {title: 'Transactions', url: 'page-transactions.html'},

  };